.database__content {
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.7);
  background: linear-gradient(#e66465, #9198e5);
  padding: 20px 30px;
  width: 33%;
  height: 35vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.database__heading {
  text-align: center;
  margin-bottom: 20px;
}

.database__ul {
  list-style: none;
}
